<div class="battle-pokemon trainer-pokemon" >
    Trainer Pokemon
  {{pokemon-details
  bindedPokemon=selectedTrainerPokemon
  bindedLevel=selectedTrainerPokemonLevel
  bindedGender=selectedTrainerPokemonGender
  pokemonList=model
  genderList=genderList
  levelList=levels }}
</div>

<div class="battle-pokemon wild-pokemon">
    Wild Pokemon
  {{pokemon-details
  bindedPokemon=selectedWildPokemon
  bindedLevel=selectedWildPokemonLevel
  bindedGender=selectedWildPokemonGender
  pokemonList=model
  genderList=genderList
  levelList=levels }}

    <div>
      {{view "select"
      value=currentStatus
      content=status
      optionLabelPath="content.name"
      prompt="Status"
      }}

      {{input type="checkbox" checked=hasBeenCaughtBefore}}
        HP:
      {{input type="range" class="range-current-hp" style=currentHPRangeBackground name="range" min="1" max="100" value=currentHPPercent}}
    </div>

    <div class="selectedWildPokemon">
        <img {{bind-attr src="pokemonSprite"}} />
    </div>

</div>

{{render 'battle-attributes' this }}

{{partial 'pokeball-list' pokeballs=pokeballs }}

{{partial 'about-project' pokeballs=pokeballs }}
